<!DOCTYPE html>
<html lang="en">
<ul>
     <title> Прошел все курсы на SkillBox. Продаю готовые домашние задания </title>

    <h1><b> Прошел все курсы на SkillBox. Продаю готовые домашние задания </b></h1>

    <li>
        <a href=" {% url 'list' %} "> Решение задач связанных со списками </a>
    </li>
    <li>
        <a href="{% url 'functions' %}"> Решение задач связанных с функциями </a>
    </li>
    <li>
        <a href="{% url 'tuples' %}"> Решение задач связанных с кортежами </a>
    </li>
    <li>
        <a href="{% url 'dictionaries' %}"> Решение задач связанных со словарями </a>
    </li>
    <li>
        <a href="{% url 'classes' %}"> Решение задач связанных с классами </a>
    </li>

</ul>
</html>
